body{
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url('https://wallpaperlayer.com/img/2015/9/wedding-background-8168-8484-hd-wallpapers.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  font-size: 1.2em;
  margin: 0 auto;
  height: auto;
}

header{
  background-color: #c0c0c0;
  background-color: rgba(192, 192, 192, .3);
  color: rgb(247,161,194);
  text-shadow:2px 1px rgba(0, 0, 0, .5);
  padding-top:.5px;
  padding-bottom: .5px;
  width: 100%;
}

#mainTitle{
  text-align: center;
  font-size:4em;
}

nav {
  margin-left: 4.8em;
  margin-bottom: 15px;
  margin-top: 15px;
  position: fixed;
  background-color: rgba(192, 192, 192, .3);
}

nav a{
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  border-right: 1px solid rgb(192, 192, 192);
  padding-right: 15px;
  color:rgb(33, 145, 187);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}

nav a:hover{
  color: rgb(247,161,194);
}

aside{
  float: left;
  position: fixed;
  margin-top: 60px;
}

table{
  margin-left: 100px;
  margin-top: 25px;
}

.inputArea{
  height: 1.8em;
  width: 25em;
  padding:0.2em;
}

#imageHolder{
  border-radius: 15px;
  float: left;
  height: auto;
  width: 500px;
  border: 5px solid #c0c0c0;
  border: 5px solid rgba(192, 192, 192, .4);
  background-color: #808080;
  background-color: rgba(247,161,194, .1);
  box-shadow: 18px 17px 17px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 18px 17px 17px 0px rgba(0, 0, 0, .41);
  -moz-box-shadow: 18px 17px 17px 0px rgba(0, 0, 0, .41);
  margin-left: 500px;
  margin-top: 16px;
  
}

#details{
  margin-top: 100px;
  text-align: center;
  background-color:#ffffff;
  background-color: rgba(255, 255, 255, .1);
  padding: 12px;
  height: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.name{
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
}

@media only screen and (max-width: 900px){
  #imageHolder{
  width: 500px;
  margin-left: 100px;
  margin-top: 16px;
  }
  aside{
  position:relative;
  margin-top: -31px;
  }
  nav {
  margin-left: 100px;
  margin-bottom: 15px;
  position: relative;
  width: 50%;
  }
  #mainTitle{ 
    font-size:3em;
  }
}
  

@media only screen and (max-width: 600px){
  #imageHolder{
  width: 350px;
  margin-left: 10px;
  margin-top: 16px;
  }
  aside{
  float: left;
  margin-top: 0px;
  }
  table{
  margin-left: 10px;
  }
  nav{
  margin-left: 10px;
  width:80%;
  }
  nav a{
  font-size:1em;
  }
#mainTitle{ 
    font-size:2em;
  }

}